{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

	<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'shelf' %}">Book Shelf</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Academic Documents</a></h4>
                <p class="description">"Secure your academic papers with us! Our organized, affordable, and safe storage shelves ensure your documents are always protected, accessible, and well-preserved.
                    Focus on your studies while we safeguard your academic achievements for the future."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-card-checklist icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Land and properties</a></h4>
                <p class="description">
"Safeguard your land and property documents with us! Our secure, organized storage ensures your valuable records are protected, easily accessible, and preserved for generations.
                    Trust us to keep your investments safe, giving you peace of mind."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-bar-chart icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Vehicle log Books</a></h4>
                <p class="description"> "Keep your vehicle logbooks and particulars safe with our secure storage solutions. Our reliable system ensures easy access, protection from loss or damage,
                    and complete peace of mind for your valuable documents at all times."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-binoculars icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Advocate Files</a></h4>
                <p class="description">
"Ensure your legal files are securely stored with us. Our organized, confidential storage solutions protect sensitive documents, provide easy access, and maintain professional standards,
                    giving advocates peace of mind and efficiency in managing their cases."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-brightness-high icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Business Agreements</a></h4>
                <p class="description">"Protect your business agreements with our secure storage solutions. We ensure confidentiality, easy access, and long-term preservation,
                    so you can focus on growing your business while we safeguard your vital documents."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Collateral Documentation</a></h4>
                <p class="description">"Store your collateral documents securely with us. Our trusted storage ensures confidentiality, easy access, and protection against loss or damage,
                    providing peace of mind to all parties involved in the agreement."</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Check Our Features<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab-1">Safe Facility</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-2">Premise under serveilance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-3">Access round The Clock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-4">No added Fees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-5">Fast and Transparent</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="features-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Best Storage Facility</h3>
                    <p class="fst-italic">
"Secure, organized, and accessible storage—protecting
                        your documents with care and precision."</p>
                    <p>"Our state-of-the-art storage facility offers unparalleled security, climate control, and easy access. With advanced monitoring and organization systems,
                        we ensure your documents remain safe, well-preserved, and readily available whenever you need them."</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Eagles Eye Surveilance</h3>
                    <p class="fst-italic">"Experience unmatched security with
                        our round-the-clock surveillance for complete peace of mind."</p>
                    <p>
"Our premises are under 24/7 surveillance, ensuring top-notch security for your valuables.
                        Trust us for a safe, monitored environment where your assets are always protected."</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Round the Clock Access</h3>
                    <p class="fst-italic">
"Access your documents anytime, day or night, with secure convenience."</p>
                    <p>"Enjoy round-the-clock access to your stored documents with our secure facility. Whether day or night, our user-friendly system ensures you can retrieve your items whenever needed, providing ultimate convenience and flexibility."</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>"Secure storage, no fees."</h3>
                    <p class="fst-italic">"Secure storage, no hidden fees—just straightforward, affordable protection for you."</p>
                    <p>"Enjoy secure storage with no added costs. Our transparent pricing ensures you pay only for the service you need, with no hidden fees. Experience value, security, and convenience without any extra charges."</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>"Fast, transparent, and efficient service."</h3>
                    <p class="fst-italic">"Fast, transparent service with clear pricing and no hidden surprises—efficiency guaranteed."</p>
                    <p>"Experience a fast and transparent process with us. Our streamlined system ensures quick, efficient service with clear pricing and no hidden surprises.
                        We prioritize your time and trust, delivering seamless solutions every step of the way."</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/tabs/tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

  </main>

{% endblock %}


